<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inteminer Cards | Tarjetas Digitales Para Profesionales</title>
  <meta name="description" content="Tu presencia online profesional sin
  complicaciones. Tarjetas digitales que reflejan profesionalismo y elevan tu
  presencia online.">
  <link rel="stylesheet" href="/public/css/output.css">
  <link rel="icon" href="/public/images/icons/inteminer-icon.png">
  <link rel="apple-touch-icon" href="/public/images/icons/inteminer-icon.png">
</head>

<body class="bg-white dark:bg-gray-900">
  <section class="bg-white dark:bg-gray-900">
    <div
      class="bg-white/90 dark:bg-gray-900/90 backdrop-blur-md lg:fixed lg:top-0 lg:inset-x-0 lg:z-50 border-b border-slate-200 dark:border-slate-800">
      <nav class="container px-6 py-4 mx-auto lg:flex lg:justify-between lg:items-center">
        <div class="flex items-center justify-between">
          <div>
            <a href="/"><img src="/public/images/inteminer/inteminer-logo-black.svg" alt="Inteminer Logo"
                class="h-9"></a>
          </div>

          <!-- Mobile menu button -->
          <div class="flex lg:hidden">
            <button id="mobile-menu-btn" type="button"
              class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
              <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                <path fill-rule="evenodd"
                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                </path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
        <div id="mobile-menu"
          class="hidden lg:flex flex-col mt-4 space-y-2 lg:mt-0 lg:flex-row lg:-px-8 lg:space-y-0 text-sm">
          <a class="text-gray-700 transition-colors duration-200 transform lg:mx-8 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500"
            href="#">Inicio</a>
          <a class="text-gray-700 transition-colors duration-200 transform lg:mx-8 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500"
            href="#components">Componentes</a>
          <a class="text-gray-700 transition-colors duration-200 transform lg:mx-8 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500"
            href="#">Precios</a>
          <a class="text-gray-700 transition-colors duration-200 transform lg:mx-8 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500"
            href="#">Contacto</a>
        </div>

        <a class="flex items-center justify-center text-xs px-5 py-2 mt-4 font-medium leading-5 text-center text-white capitalize bg-blue-600 rounded-lg lg:mt-0 hover:bg-blue-500 lg:w-auto"
          href="/findme">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          Encontrar mi tarjeta
        </a>
      </nav>
    </div>

    <div class="container px-6 py-16 mx-auto text-center mt-20">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 dark:text-white md:text-5xl">Tu presencia online
          profesional sin complicaciones
        </h1>
        <p class="mt-6 text-gray-500 dark:text-gray-300">Tarjetas digitales que reflejan profesionalismo y elevan tu
          presencia online.</p>
        <button
          class="px-6 py-2 mt-6 text-sm font-medium leading-5 text-center text-white capitalize bg-blue-600 rounded-lg hover:bg-blue-500 md:mx-0 md:w-auto focus:outline-none">
          Prueba gratis de 14 días
        </button>
        <p class="mt-3 text-sm text-gray-400 ">Sin tarjeta de crédito</p>
      </div>
    </div>
  </section>
  <!-- COMPONENTS -->

  <section id="components" class="bg-blue-50/30 dark:bg-gray-800/30 py-10">
    <div class="container px-6 py-10 mx-auto">
      <div class="lg:flex lg:items-center">
        <div class="w-full space-y-12 lg:w-1/2">
          <div>
            <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Experimentalo tu
              mismo</h1>
            <p class="mt-3 text-gray-500 dark:text-gray-300 flex items-center justify-left">Puedes interactuar con esta
              tarjeta <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
              </svg></p>
            <div class="mt-2">
              <span class="inline-block w-40 h-1 rounded-full bg-blue-500"></span>
              <span class="inline-block w-3 h-1 ml-1 rounded-full bg-blue-500"></span>
              <span class="inline-block w-1 h-1 ml-1 rounded-full bg-blue-500"></span>
            </div>
          </div>

          <div class="md:flex md:items-start md:-mx-4">
            <span
              class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z" />
              </svg>
            </span>

            <div class="mt-4 md:mx-4 md:mt-0">
              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Código QR para compartir</h1>

              <p class="mt-3 text-gray-500 dark:text-gray-300">
                Presiona el icóno del QR para desplegar el menú para compartir. Tu código QR se mantiene actualizado
                para que puedas utilizarlo cuando quieras.
              </p>
            </div>
          </div>

          <div class="md:flex md:items-start md:-mx-4">
            <span
              class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
              </svg>
            </span>

            <div class="mt-4 md:mx-4 md:mt-0">
              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">diseño personalizable</h1>

              <p class="mt-3 text-gray-500 dark:text-gray-300">
                Personalización de banner y colores para adaptarse de mejor manera a tu organización.
              </p>
            </div>
          </div>

          <div class="md:flex md:items-start md:-mx-4">
            <span
              class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
              </svg>
            </span>

            <div class="mt-4 md:mx-4 md:mt-0">
              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Guardar contacto</h1>

              <p class="mt-3 text-gray-500 dark:text-gray-300">
                Solo un click para guardar el contacto en dispositivos móbiles.
              </p>
            </div>
          </div>
        </div>

        <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">
          <iframe class="scale-95 shadow-lg rounded-3xl" height="650" width="400"
            src="https://cards.inteminer.com/62953dec6a2559cf6a6a3fac" frameborder="2"></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- FOOTER -->

  <footer class="flex justify-center px-4 text-gray-800 bg-white dark:text-white dark:bg-gray-800">
    <div class="container py-6">
      <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
        <div>
          <a href="#"
            class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">Inteminer
            <span class="text-blue-600">Cards</span></a>
        </div>

        <div class="flex mt-4 md:m-0">
          <div class="-mx-4">
            <a href="#"
              class="px-4 text-sm font-medium text-gray-800 dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 hover:underline">About</a>
            <a href="#"
              class="px-4 text-sm font-medium text-gray-800 dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 hover:underline">Blog</a>
            <a href="#"
              class="px-4 text-sm font-medium text-gray-800 dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 hover:underline">News</a>
            <a href="#"
              class="px-4 text-sm font-medium text-gray-800 dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 hover:underline">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
<script>

  mobileMenu = document.getElementById('mobile-menu');

  mobileMenuToggled = false;

  document.getElementById('mobile-menu-btn').addEventListener('click', () => {
    if (!mobileMenuToggled) {
      mobileMenu.classList.remove('hidden');
      mobileMenu.classList.add('flex');
      mobileMenuToggled = true;
    } else {
      mobileMenu.classList.remove('flex');
      mobileMenu.classList.add('hidden');
      mobileMenuToggled = false;
    }
  })



</script>

</html>