<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/output.css" />
    <link rel="icon" href="/public/images/icons/inteminer-icon.png" />
    <link
      rel="apple-touch-icon"
      href="/public/images/icons/inteminer-icon.png"
    />
  </head>
  <body
    class="bg-blue-500 flex flex-col items-center justify-center h-screen p-10 text-white"
  >
    <p class="text-4xl font-bold mb-2">:(</p>
    <p>Esta tarjeta ha sido desactivada temporalmente</p>
    <p>Contacta a tu administrador.</p>
    <img
      src="/public/images/inteminer/inteminer-logo-white.svg"
      alt="Inteminer Logo"
      class="w-36 mt-10"
    />
  </body>
</html>
