<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/public/css/output.css">
</head>
<body>
    <div class="max-w-lg py-6 px-4 bg-blue-500 m-auto h-screen shadow-xl flex flex-col items-center justify-center">
        <h1 class="text-white text-2xl font-bold mb-4">Tu postulación ha sido enviada</h1>
        <a href="/<%= user._id %>" class="bg-white px-4 py-1 rounded-full">Volver a la tarjeta</a>
    </div>
</body>
</html>